.sngo .content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 40px;
  box-sizing: border-box;
}
.sngo .content h2 {
  line-height: 3.2rem;
  text-align: left;
  color: #6e3d97;
}
.sngo .content sup {
  line-height: 0.7rem;
}
.sngo .content p {
  font-size: 1.3rem;
  line-height: 1.8rem;
  margin: 0 0 1rem 0;
  color: #333;
}
.sngo .content p.quote {
  text-align: center;
}
.sngo .content blockquote {
  font-size: 1.8rem;
  line-height: 2rem;
  text-align: center;
  margin: 0 0 1rem 0;
  color: #6e3d97;
}
.sngo .content hr {
  height: 1px;
  background-color: #6e3d97;
  margin: 2rem auto;
  width: 60%;
  display: block;
}
.sngo .content figure.fr {
  width:50%;
  margin:0 auto;
}
.sngo .content figure.fr img {
  height: auto;
  width: 100%;
  display: block;
  margin: 0 0 1rem 0;
}
@media screen and (min-width:640px){
  .sngo .content figure.fr {
    float: right;
    clear: none;
  }
  .sngo .content figure.fr img {
    margin: 0 0 1rem 1rem;
  }
}
@media screen and (min-width:640px) and (max-width:767px){
  .sngo .content figure.fr {
    width:33.3%;
  }
  .sngo .content figure.fr img {
    height: auto;
    width: 100%;
    display: block;
    
  }
}
@media screen and (min-width:768px){
  .sngo .content figure.fr {
    width:auto;
  }
  .sngo .content figure.fr img {
    height: 626px;
    width: auto;
  }
}

.sngo .content .twocol {
  display: grid;
  grid-auto-flow: column;
}
.sngo .content .twocol .text {
  display: block;
}
.sngo .content .twocol figure img {
  height: 300px;
  width: auto;
  display: block;
  margin: 0 0 1rem 1rem;
}
.sngo .content .triple {
  float: none;
  clear: both;
  margin: 0 -1rem 2rem -1rem;
  display: flex;
  flex-wrap: nowrap;
}
.sngo .content .triple figure {
  flex-basis: 33.3%;
  width: 33.3%;
  boxsizing: border-box;
  padding: 0 1rem;
  margin: 0;
}
.sngo .content .triple figure img {
  width: 100%;
  height: auto;
  display: block;
}

#contentWrapper .sngo .content h2 {
  text-align: left;
}