#menuWrapper {
    height: 0px;
    z-index: 10
}

#menuWrapper .header-banner {
    position: absolute;
    overflow: hidden;
    width: 100%;
    margin-top: 4%
}

@media only screen and (min-width: 1440px) {
    #menuWrapper .header-banner {
        width:100%;
        height: auto;
        margin-top: 2%
    }
}

#menuWrapper .header-banner img {
    height: 492px
}

@media only screen and (min-width: 0) and (max-width: 480px) {
    #menuWrapper .header-banner img {
        transform:translateX(-40%)
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    #menuWrapper .header-banner img {
        transform:translateX(-30%)
    }
}

@media only screen and (min-width: 769px) and (max-width: 960px) {
    #menuWrapper .header-banner img {
        transform:translateX(-10%)
    }
}

@media only screen and (min-width: 1440px) {
    #menuWrapper .header-banner img {
        width:100%;
        height: auto
    }
}

#menuWrapper .header-banner h1 {
    bottom: 0;
    left: 110px;
    font-family: SourceSansProBoldIt,sans-serif;
    font-size: 64px;
    line-height: 1em;
    color: white;
    text-transform: uppercase
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    #menuWrapper .header-banner h1 {
        font-size:48px
    }
}

@media only screen and (min-width: 0) and (max-width: 480px) {
    #menuWrapper .header-banner h1 {
        font-size:32px;
        left: 20px
    }
}

#menuWrapper .header-banner .absPos {
    position: absolute
}

#contentWrapper {
    background-color: #6e3d97;
    margin-bottom: 0px;
    padding-bottom: 100px
}

#contentWrapper .contact-content {
    padding-top: 105px
}

#contentWrapper .contact-content.holding {
    min-height: 600px
}

#contentWrapper .contact-content .primary-color-header {
    padding: 20px 0px
}

#contentWrapper .contact-content .primary-color-header h1 {
    text-align: left !important;
    color: white
}

#contentWrapper .contact-content .primary-color-header p {
    color: white
}

#contentWrapper .contact-content .main-body {
    padding-top: 40px;
    background-color: #6e3d97
}

#contentWrapper .contact-content .main-body #contactForm .formRow {
    margin-bottom: 10px
}

#contentWrapper .contact-content .main-body #contactForm .formRow label {
    font-size: 16px;
    color: #fff
}

#contentWrapper .contact-content .main-body #contactForm .formRow input[type='text'],#contentWrapper .contact-content .main-body #contactForm .formRow input[type='checkbox'],#contentWrapper .contact-content .main-body #contactForm .formRow input[type='radio'],#contentWrapper .contact-content .main-body #contactForm .formRow textarea,#contentWrapper .contact-content .main-body #contactForm .formRow select {
    padding: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#contentWrapper .contact-content .main-body #contactForm .formRow a {
    display: block
}

#contentWrapper .contact-content .main-body #contactForm .formRow a .icon-submit:before {
    margin: 0;
    width: 4.2em
}

#contentWrapper .contact-content .main-body #contactForm .formRow .error {
    display: block;
    padding-top: 10px;
    color: white;
    font-size: 14.4px
}

#contentWrapper .contact-content .main-body div.align-center {
    text-align: center
}

#contentWrapper .contact-content .main-body div.align-right {
    text-align: right
}

@media only screen and (min-width: 0) and (max-width: 480px), only screen and (min-width: 481px) and (max-width: 768px), only screen and (min-width: 769px) and (max-width: 960px) {
    #contentWrapper .contact-content .main-body div.margin-bottom20 {
        margin-bottom:20px
    }
}

#contentWrapper .contact-content .main-body h2 {
    font-family: SourceSansProSemibold,sans-serif
}

#contentWrapper .contact-content .main-body p,#contentWrapper .contact-content .main-body ul {
    color: #333
}

#contentWrapper .contact-content .main-body p.small,#contentWrapper .contact-content .main-body ul.small {
    font-size: 9.6px
}

#contentWrapper .contact-content .main-body p.no-margin-top,#contentWrapper .contact-content .main-body ul.no-margin-top {
    margin-top: 0
}

#contentWrapper .contact-content .main-body p span.primary-colour,#contentWrapper .contact-content .main-body p a.primary-color,#contentWrapper .contact-content .main-body ul span.primary-colour,#contentWrapper .contact-content .main-body ul a.primary-color {
    color: #6e3d97
}

#contentWrapper .contact-content .main-body p a.primary-color:hover,#contentWrapper .contact-content .main-body ul a.primary-color:hover {
    color: #39204e
}

#contentWrapper .contact-content .main-body ul {
    list-style-position: inside
}

@media only screen and (min-width: 0) and (max-width: 480px) {
    #contentWrapper .contact-content .main-body img {
        width:100%
    }
}

#contentWrapper .contact-content .main-body .find-out-more {
    display: inline-block;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #6e3d97;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    color: white;
    width: 100%;
    line-height: 1.5em;
    font-size: 20.8px;
    border: 1px solid #6e3d97;
    will-change: all;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear
}

#contentWrapper .contact-content .main-body .find-out-more span {
    font-family: SourceSansProSemibold,sans-serif;
    color: white;
    will-change: all;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear
}

#contentWrapper .contact-content .main-body .find-out-more:hover {
    color: #6e3d97;
    background-color: white
}

#contentWrapper .contact-content .main-body .find-out-more:hover span {
    font-family: SourceSansProSemibold,sans-serif;
    color: #6e3d97
}
