#menuWrapper {
    height: 542px
}

#menuWrapper .header-banner {
    position: absolute;
    overflow: hidden;
    width: 100%;
    margin-top: 4%
}

@media only screen and (min-width: 1440px) {
    #menuWrapper .header-banner {
        width:100%;
        height: auto;
        margin-top: 2%
    }
}

#menuWrapper .header-banner img {
    height: 492px
}

@media only screen and (min-width: 0) and (max-width: 480px) {
    #menuWrapper .header-banner img {
        transform:translateX(-40%)
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    #menuWrapper .header-banner img {
        transform:translateX(-30%)
    }
}

@media only screen and (min-width: 769px) and (max-width: 960px) {
    #menuWrapper .header-banner img {
        transform:translateX(-10%)
    }
}

@media only screen and (min-width: 1440px) {
    #menuWrapper .header-banner img {
        width:100%;
        height: auto
    }
}

#menuWrapper .header-banner h1 {
    bottom: 0;
    left: 5%;
    font-family: SourceSansProBoldIt,sans-serif;
    font-size: 112px;
    line-height: 1em;
    color: #a173c7;
    text-transform: uppercase
}

@media only screen and (min-width: 1440px) and (max-width: 99999999em) {
    #menuWrapper .header-banner h1 {
        left:initial;
        bottom: -31px;
        right: 64%;
        margin-right: -12%
    }
}

@media only screen and (min-width: 961px) and (max-width: 1439px) {
    #menuWrapper .header-banner h1 {
        left:initial;
        right: 64%;
        margin-right: -12%
    }
}

@media only screen and (min-width: 769px) and (max-width: 960px) {
    #menuWrapper .header-banner h1 {
        left:5%
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    #menuWrapper .header-banner h1 {
        bottom:46px;
        left: 10%;
        font-size: 80px
    }
}

@media only screen and (min-width: 0) and (max-width: 480px) {
    #menuWrapper .header-banner h1 {
        bottom:93px;
        font-size: 64px;
        left: 20px
    }
}

#menuWrapper .header-banner .absPos {
    position: absolute
}

.faqs-content .primary-color-header {
    background-color: #6e3d97;
    text-align: center;
    padding: 20px 0px
}

.faqs-content .primary-color-header h1 {
    text-align: left !important;
    color: white
}

.faqs-content .primary-color-header p,.faqs-content .primary-color-header h1.symptom-checker {
    font-family: SourceSansProLight;
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center !important;
    line-height: 1.7rem;
    color: white
}

.faqs-content .primary-color-header p.header-question:before,.faqs-content .primary-color-header h1.symptom-checker.header-question:before {
    content: "•";
    padding-right: 5px
}

.faqs-content .main-body {
    padding-top: 40px
}

.faqs-content .main-body .border-bottom {
    background: url(/images/shared/fade-line.jpg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100% 5px;
    padding-top: 20px;
    padding-bottom: 20px
}

.faqs-content .main-body .open-close-btn {
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%)
}

.faqs-content .main-body .open-close-btn .circle {
    position: relative;
    display: block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #a173c7;
    width: 41px;
    height: 41px;
    text-align: center;
    cursor: pointer
}

.faqs-content .main-body .open-close-btn .poly-1,.faqs-content .main-body .open-close-btn .poly-2,.faqs-content .main-body .open-close-btn .poly-3 {
    position: absolute;
    width: 25px;
    height: 7px;
    background-color: #a173c7;
    background-color: #a173c7;
    top: 40%;
    left: 14%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 53%;
    transform: rotate(0deg);
    will-change: all;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-transition: transform 0.1s ease-in-out;
    -moz-transition: transform 0.1s ease-in-out;
    -ms-transition: transform 0.1s ease-in-out;
    -o-transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out
}

.faqs-content .main-body .open-close-btn .poly-1.rotate,.faqs-content .main-body .open-close-btn .poly-2.rotate,.faqs-content .main-body .open-close-btn .poly-3.rotate {
    transform: rotate(90deg)
}

.faqs-content .main-body .open-close-btn .poly-3 {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3
}

.faqs-content .main-body .info p {
    font-family: SourceSansProSemibold,sans-serif;
    color: #6e3d97
}

.faqs-content .main-body .more-info {
    overflow: hidden;
    will-change: all;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    max-height: 0
}

.faqs-content .main-body .more-info.reveal {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    max-height: 400px
}

.faqs-content .main-body .more-info img {
    width: 100%
}

.faqs-content .main-body .more-info p,.faqs-content .main-body .more-info ul {
    font-family: SourceSansProSemibold,sans-serif;
    color: #6e3d97
}

.faqs-content .main-body div.align-center {
    text-align: center
}

@media only screen and (min-width: 0) and (max-width: 480px), only screen and (min-width: 481px) and (max-width: 768px), only screen and (min-width: 769px) and (max-width: 960px) {
    .faqs-content .main-body div.margin-bottom20 {
        margin-bottom:20px
    }
}

.faqs-content .main-body h2,.faqs-content .main-body h3 {
    font-family: SourceSansProSemibold,sans-serif
}

.faqs-content .main-body h3 {
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.5rem
}

.faqs-content .main-body p,.faqs-content .main-body ul {
    color: #333
}

.faqs-content .main-body p.small,.faqs-content .main-body ul.small {
    font-size: 9.6px
}

.faqs-content .main-body p.no-margin-top,.faqs-content .main-body ul.no-margin-top {
    margin-top: 0
}

.faqs-content .main-body p span.primary-colour,.faqs-content .main-body p a.primary-color,.faqs-content .main-body ul span.primary-colour,.faqs-content .main-body ul a.primary-color {
    color: #6e3d97
}

.faqs-content .main-body p a.primary-color:hover,.faqs-content .main-body ul a.primary-color:hover {
    color: #39204e
}

.faqs-content .main-body ul {
    list-style-position: inside
}

@media only screen and (min-width: 0) and (max-width: 480px) {
    .faqs-content .main-body img {
        width:100%
    }
}

.faqs-content .main-body .find-out-more {
    display: inline-block;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #6e3d97;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    color: white;
    line-height: 1em;
    font-size: 20.8px;
    border: 1px solid #6e3d97;
    will-change: all;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear
}

.faqs-content .main-body .find-out-more span {
    font-family: SourceSansProSemibold,sans-serif;
    color: white;
    will-change: all;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear
}

.faqs-content .main-body .find-out-more:hover {
    color: #6e3d97;
    background-color: white
}

.faqs-content .main-body .find-out-more:hover span {
    font-family: SourceSansProSemibold,sans-serif;
    color: #6e3d97
}
