﻿#menuWrapper {
    height: 542px;
}
#menuWrapper .header-banner {
    position: absolute;
    overflow: hidden;
    width: 100%;
    margin-top: 4%;
}
@media only screen and (min-width: 1440px) {
    #menuWrapper .header-banner {
        width: 100%;
        height: auto;
        margin-top: 2%;
    }
}
#menuWrapper .header-banner img {
    height: 492px;
}
@media only screen and (min-width: 0) and (max-width: 480px) {
    #menuWrapper .header-banner img {
        transform: translateX(-60%);
        margin-left: 50%;
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #menuWrapper .header-banner img {
        transform: translateX(-60%);
        margin-left: 50%;
    }
}
@media only screen and (min-width: 769px) and (max-width: 960px) {
    #menuWrapper .header-banner img {
        transform: translateX(-60%);
        margin-left: 57%;
    }
}
@media only screen and (min-width: 961px) and (max-width: 1439px) {
    #menuWrapper .header-banner img {
        transform: translateX(-60%);
        margin-left: 57%;
    }
}
@media only screen and (min-width: 1440px) {
    #menuWrapper .header-banner img {
        width: 100%;
        height: auto;
    }
}
#menuWrapper .header-banner h1 {
    bottom: 0;
    left: 110px;
    font-family: SourceSansProBoldIt, sans-serif;
    font-size: 64px;
    line-height: 1em;
    color: #a173c7;
    text-transform: uppercase;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #menuWrapper .header-banner h1 {
        font-size: 48px;
    }
}
@media only screen and (min-width: 0) and (max-width: 480px) {
    #menuWrapper .header-banner h1 {
        font-size: 32px;
        left: 20px;
    }
}
#menuWrapper .header-banner .absPos {
    position: absolute;
}
#contentWrapper {
    margin-bottom: 0px;
}
#contentWrapper .moisturiser-content .primary-color-header {
    background-color: #6e3d97;
    text-align: center;
    padding: 20px 0px;
}
#contentWrapper .moisturiser-content .primary-color-header h1 {
    text-align: left !important;
    color: white;
}
#contentWrapper .moisturiser-content .primary-color-header p,
#contentWrapper .moisturiser-content .primary-color-header h1.symptom-checker {
    font-family: SourceSansProLight;
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center !important;
    line-height: 1.7rem;
    color: white;
}
#contentWrapper .moisturiser-content .primary-color-header p.header-question:before,
#contentWrapper .moisturiser-content .primary-color-header h1.symptom-checker.header-question:before {
    content: "•";
    padding-right: 5px;
}
#contentWrapper .moisturiser-content .main-body .white-background {
    padding-bottom: 100px;
    background-color: white;
}
#contentWrapper .moisturiser-content .main-body .white-background .blue-section {
    background: -webkit-linear-gradient(270deg, #a2c0e4, #f5f9fd);
    background: -o-linear-gradient(270deg, #a2c0e4, #f5f9fd);
    background: -moz-linear-gradient(270deg, #a2c0e4, #f5f9fd);
    background: linear-gradient(270deg, #a2c0e4, #f5f9fd);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#000000FF, endColorstr=$opacBlack1);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#000000FF, endColorstr=$opacBlack1)";
}
#contentWrapper .moisturiser-content .main-body .white-background .blue-section div.white-border {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: 4px solid white;
    min-height: 190px;
}
@media only screen and (min-width: 0) and (max-width: 480px), only screen and (min-width: 481px) and (max-width: 768px) {
    #contentWrapper .moisturiser-content .main-body .white-background .blue-section div.white-border {
        margin-bottom: 20px;
    }
}
#contentWrapper .moisturiser-content .main-body .white-background div.align-center {
    text-align: center;
}
#contentWrapper .moisturiser-content .main-body .white-background div.overflow-hidden {
    overflow: hidden;
}
#contentWrapper .moisturiser-content .main-body .white-background div.border-top {
    background: url(/images/shared/fade-line.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#contentWrapper .moisturiser-content .main-body .white-background div.border-top.rev {
    background: url(/images/shared/fade-line-reverse.jpg);
    background-position: left top;
    background-size: 100% 5px;
}
#contentWrapper .moisturiser-content .main-body .white-background div.border-top.no-padding {
    padding: 0px;
}
#contentWrapper .moisturiser-content .main-body .white-background div .border-bottom {
    background: url(/images/shared/fade-line.jpg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100% 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#contentWrapper .moisturiser-content .main-body .white-background div .border-bottom.rev {
    background: url(/images/shared/fade-line-reverse.jpg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100% 5px;
}
#contentWrapper .moisturiser-content .main-body .white-background div .border-bottom.no-padding {
    padding: 0px;
}
#contentWrapper .moisturiser-content .main-body .white-background div.border-left {
    background: url(/images/shared/fade-vert-line.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 5px 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
@media only screen and (min-width: 0) and (max-width: 480px), only screen and (min-width: 481px) and (max-width: 768px) {
    #contentWrapper .moisturiser-content .main-body .white-background div.border-left {
        background-size: 0px 100%;
    }
}
#contentWrapper .moisturiser-content .main-body .white-background div.inner {
    padding: 0 16.33333%;
}
@media only screen and (min-width: 0) and (max-width: 480px), only screen and (min-width: 481px) and (max-width: 768px) {
    #contentWrapper .moisturiser-content .main-body .white-background div.inner {
        padding: 0 8.33333%;
    }
}
#contentWrapper .moisturiser-content .main-body .white-background div.gradientBackground {
    background: -webkit-linear-gradient(270deg, #eae0f3, #f7f3fa);
    background: -o-linear-gradient(270deg, #eae0f3, #f7f3fa);
    background: -moz-linear-gradient(270deg, #eae0f3, #f7f3fa);
    background: linear-gradient(270deg, #eae0f3, #f7f3fa);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#000000FF, endColorstr=$opacBlack1);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#000000FF, endColorstr=$opacBlack1)";
}
@media only screen and (min-width: 0) and (max-width: 480px), only screen and (min-width: 481px) and (max-width: 768px), only screen and (min-width: 769px) and (max-width: 960px), only screen and (min-width: 961px) and (max-width: 1439px) {
    #contentWrapper .moisturiser-content .main-body .white-background div.margin-bottom20 {
        margin-bottom: 20px;
    }
}
@media only screen {
    #contentWrapper .moisturiser-content .main-body .white-background div.margin-bottom40 {
        margin-bottom: 40px;
    }
}
#contentWrapper .moisturiser-content .main-body .white-background div.white-background {
    background-color: white;
}
#contentWrapper .moisturiser-content .main-body .white-background div.pdbtm-120 {
    padding-bottom: 120px;
}
#contentWrapper .moisturiser-content .main-body .white-background div.pdbtm-20 {
    padding-bottom: 20px;
}
#contentWrapper .moisturiser-content .main-body .white-background div.pdtp-20 {
    padding-top: 20px;
}
#contentWrapper .moisturiser-content .main-body .white-background div.pdbtm-40 {
    padding-bottom: 40px;
}
#contentWrapper .moisturiser-content .main-body .white-background div.pdtp-40 {
    padding-top: 40px;
}
#contentWrapper .moisturiser-content .main-body .white-background h2 {
    font-family: SourceSansProSemibold, sans-serif;
    line-height: 2em;
}
#contentWrapper .moisturiser-content .main-body .white-background p,
#contentWrapper .moisturiser-content .main-body .white-background ul {
    color: #333;
}
#contentWrapper .moisturiser-content .main-body .white-background p.small,
#contentWrapper .moisturiser-content .main-body .white-background ul.small {
    font-size: 9.6px;
}
#contentWrapper .moisturiser-content .main-body .white-background p.no-margin-top,
#contentWrapper .moisturiser-content .main-body .white-background ul.no-margin-top {
    margin-top: 0;
}
#contentWrapper .moisturiser-content .main-body .white-background p span.primary-colour,
#contentWrapper .moisturiser-content .main-body .white-background p a.primary-color,
#contentWrapper .moisturiser-content .main-body .white-background ul span.primary-colour,
#contentWrapper .moisturiser-content .main-body .white-background ul a.primary-color {
    color: #6e3d97;
}
#contentWrapper .moisturiser-content .main-body .white-background p a.primary-color:hover,
#contentWrapper .moisturiser-content .main-body .white-background ul a.primary-color:hover {
    color: #39204e;
}
#contentWrapper .moisturiser-content .main-body .white-background ul {
    list-style-position: inside;
}
#contentWrapper .moisturiser-content .main-body .white-background ul li {
    font-family: SourceSansProSemibold, sans-serif;
    color: #6e3d97;
}
#contentWrapper .moisturiser-content .main-body .white-background img {
    width: 100%;
}
#contentWrapper .moisturiser-content .main-body .white-background .find-out-more {
    display: inline-block;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #6e3d97;
    margin-top: 20px;
    padding: 10px;
    font-family: SourceSansProBlack, sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: white;
    width: 100%;
    line-height: 1.5em;
    font-size: 20.8px;
    border: 1px solid #6e3d97;
    will-change: all;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
#contentWrapper .moisturiser-content .main-body .white-background .find-out-more.symptom-checker-more {
    width: 200px;
}
#contentWrapper .moisturiser-content .main-body .white-background .find-out-more span {
    font-family: SourceSansProSemibold, sans-serif;
    color: white;
    will-change: all;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
#contentWrapper .moisturiser-content .main-body .white-background .find-out-more:hover {
    color: #6e3d97;
    background-color: white;
}
#contentWrapper .moisturiser-content .main-body .white-background .find-out-more:hover span {
    font-family: SourceSansProSemibold, sans-serif;
    color: #6e3d97;
}
@media only screen and (min-width: 0) and (max-width: 480px) {
    #contentWrapper .moisturiser-content .main-body .white-background .find-out-more {
        font-size: 16px;
    }
}
