@charset "UTF-8";
/**
 * Foundation Mixins
 */
/**
 * Retina mixin
 */
/**
 * Other mixins
 */
#menuWrapper {
  height: 542px;
}
#menuWrapper .header-banner {
  position: absolute;
  overflow: hidden;
  width: 100%;
  margin-top: 4%;
}
@media only screen and (min-width:1440px) {
  #menuWrapper .header-banner {
    width: 100%;
    height: auto;
    margin-top: 2%;
  }
}
#menuWrapper .header-banner img {
  height: 492px;
}
@media only screen and (min-width:0) and (max-width: 480px) {
  #menuWrapper .header-banner img {
    height: 277px;
    -webkit-transform: translateX(-48%);
        -ms-transform: translateX(-48%);
            transform: translateX(-48%);
    margin-left: 20%;
  }
}
@media only screen and (min-width:481px) and (max-width: 768px) {
  #menuWrapper .header-banner img {
    margin-left: 28%;
    height: 415px;
    -webkit-transform: translateX(-49%);
        -ms-transform: translateX(-49%);
            transform: translateX(-49%);
  }
}
@media only screen and (min-width:769px) and (max-width: 960px) {
  #menuWrapper .header-banner img {
    margin-left: 6%;
    -webkit-transform: translateX(-36%);
        -ms-transform: translateX(-36%);
            transform: translateX(-36%);
  }
}
@media only screen and (min-width:961px) and (max-width: 1439px) {
  #menuWrapper .header-banner img {
    margin-left: 20%;
    -webkit-transform: translateX(-27%);
        -ms-transform: translateX(-27%);
            transform: translateX(-27%);
  }
}
@media only screen and (min-width:1440px) {
  #menuWrapper .header-banner img {
    width: 100%;
    height: auto;
  }
}
#menuWrapper .header-banner img.product-packshot-placement {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  height: 85%;
  width: auto;
  margin: 0;
  -webkit-transform: inherit;
      -ms-transform: inherit;
          transform: inherit;
  right: 13%;
  top: 72px;
}
@media only screen and (min-width:0) and (max-width: 480px), only screen and (min-width:481px) and (max-width: 768px), only screen and (min-width:769px) and (max-width: 960px) {
  #menuWrapper .header-banner img.product-packshot-placement {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@media only screen and (min-width:961px) and (max-width: 1439px) {
  #menuWrapper .header-banner img.product-packshot-placement {
    right: initial;
    top: 98px;
    left: 50%;
  }
}
@media only screen and (min-width:1440px) {
  #menuWrapper .header-banner img.product-packshot-placement {
    right: 21%;
    top: 125px;
  }
}
#menuWrapper .header-banner h1 {
  bottom: 30px;
  left: 110px;
  font-family: SourceSansProBoldIt, sans-serif;
  font-size: 64px;
  line-height: 1em;
  color: #a173c7;
  text-transform: uppercase;
}
@media only screen and (min-width:1440px) and (max-width: 99999999em) {
  #menuWrapper .header-banner h1 {
    left: 19%;
    bottom: 43px;
    font-size: 51.2px;
  }
}
@media only screen and (min-width:961px) and (max-width: 1439px) {
  #menuWrapper .header-banner h1 {
    font-size: 51.2px;
  }
}
@media only screen and (min-width:769px) and (max-width: 960px) {
  #menuWrapper .header-banner h1 {
    font-size: 48px;
  }
}
@media only screen and (min-width:481px) and (max-width: 768px) {
  #menuWrapper .header-banner h1 {
    font-size: 48px;
  }
}
@media only screen and (min-width:0) and (max-width: 480px) {
  #menuWrapper .header-banner h1 {
    font-size: 32px;
    left: 20px;
  }
}
#menuWrapper .header-banner .replens-header-btn {
  display: inline-block;
  border: 1px solid #6e3d97;
  outline-width: 0;
  background-color: #6e3d97;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: SourceSansProBoldIt, sans-serif;
  font-size: 2rem;
  padding: 10px 20px;
  will-change: all;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate(0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: absolute;
  bottom: 30px;
  left: 110px;
}
#menuWrapper .header-banner .replens-header-btn:hover {
  background-color: #FFFFFF;
  color: #6e3d97;
}
@media only screen and (min-width:1440px) and (max-width: 99999999em) {
  #menuWrapper .header-banner .replens-header-btn {
    left: 19%;
    bottom: 43px;
  }
}
@media only screen and (min-width:0) and (max-width: 480px) {
  #menuWrapper .header-banner .replens-header-btn {
    left: 20px;
  }
}
#menuWrapper .header-banner .absPos {
  position: absolute;
}

#contentWrapper {
  margin-bottom: 0px;
}
#contentWrapper .product-content .alt-header-text {
  background-color: #FFFFFF;
  padding-bottom: 20px;
}
#contentWrapper .product-content .alt-header-text h1 {
  font-family: SourceSansProBoldIt, sans-serif;
  color: #a173c7;
  text-transform: uppercase;
  padding-bottom: 20px;
}
#contentWrapper .product-content .alt-header-text .replens-header-btn {
  display: inline-block;
  border: 1px solid #6e3d97;
  outline-width: 0;
  background-color: #6e3d97;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: SourceSansProBoldIt, sans-serif;
  font-size: 2rem;
  padding: 10px 20px;
  will-change: all;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate(0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#contentWrapper .product-content .alt-header-text .replens-header-btn:hover {
  background-color: #FFFFFF;
  color: #6e3d97;
}
#contentWrapper .product-content .primary-color-header {
  background-color: #6e3d97;
  text-align: center;
  padding: 20px 0px;
}
#contentWrapper .product-content .primary-color-header h1 {
  text-align: left !important;
  color: white;
}
#contentWrapper .product-content .primary-color-header p, #contentWrapper .product-content .primary-color-header h1.symptom-checker {
  font-family: SourceSansProLight;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center !important;
  line-height: 1.7rem;
  color: white;
}
#contentWrapper .product-content .primary-color-header p.header-question:before, #contentWrapper .product-content .primary-color-header h1.symptom-checker.header-question:before {
  content: "•";
  padding-right: 5px;
}
#contentWrapper .product-content .align-left {
  text-align: left;
}
#contentWrapper .product-content .align-center {
  text-align: center;
}
#contentWrapper .product-content .align-right {
  text-align: right;
}
#contentWrapper .product-content .main-body div.align-center {
  text-align: center;
}
#contentWrapper .product-content .main-body div.overflow-hidden {
  overflow: hidden;
}
#contentWrapper .product-content .main-body div.border-top {
  background: url(/images/shared/fade-line.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100% 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#contentWrapper .product-content .main-body div.border-top.rev {
  background: url(/images/shared/fade-line-reverse.jpg);
  background-position: left top;
  background-size: 100% 5px;
}
#contentWrapper .product-content .main-body div.border-top.no-padding {
  padding: 0px;
}
#contentWrapper .product-content .main-body div .border-bottom {
  background: url(/images/shared/fade-line.jpg);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100% 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#contentWrapper .product-content .main-body div .border-bottom.rev {
  background: url(/images/shared/fade-line-reverse.jpg);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100% 5px;
}
#contentWrapper .product-content .main-body div .border-bottom.no-padding {
  padding: 0px;
}
#contentWrapper .product-content .main-body div.border-left {
  background: url(/images/shared/fade-vert-line.jpg);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 5px 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media only screen and (min-width:0) and (max-width: 480px), only screen and (min-width:481px) and (max-width: 768px) {
  #contentWrapper .product-content .main-body div.border-left {
    background-size: 0px 100%;
  }
}
#contentWrapper .product-content .main-body div.inner {
  padding: 0 16.33333%;
}
@media only screen and (min-width:0) and (max-width: 480px), only screen and (min-width:481px) and (max-width: 768px) {
  #contentWrapper .product-content .main-body div.inner {
    padding: 0 8.33333%;
  }
}
#contentWrapper .product-content .main-body div.gradientBackground {
  background: -o-linear-gradient(270deg, #eae0f3, #f7f3fa);
  background: -webkit-gradient(linear, right top, left top, from(#eae0f3), to(#f7f3fa));
  background: -o-linear-gradient(right, #eae0f3, #f7f3fa);
  background: linear-gradient(270deg, #eae0f3, #f7f3fa);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#000000FF, endColorstr=$opacBlack1);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#000000FF, endColorstr=$opacBlack1)";
}
@media only screen and (min-width:0) and (max-width: 480px), only screen and (min-width:481px) and (max-width: 768px), only screen and (min-width:769px) and (max-width: 960px), only screen and (min-width:961px) and (max-width: 1439px) {
  #contentWrapper .product-content .main-body div.margin-bottom20 {
    margin-bottom: 20px;
  }
}
@media only screen {
  #contentWrapper .product-content .main-body div.margin-bottom40 {
    margin-bottom: 40px;
  }
}
#contentWrapper .product-content .main-body div.white-background {
  background-color: white;
}
#contentWrapper .product-content .main-body div.pdbtm-120 {
  padding-bottom: 120px;
}
#contentWrapper .product-content .main-body div.pdbtm-20 {
  padding-bottom: 20px;
}
#contentWrapper .product-content .main-body div.pdtp-20 {
  padding-top: 20px;
}
#contentWrapper .product-content .main-body div.pdbtm-40 {
  padding-bottom: 40px;
}
#contentWrapper .product-content .main-body div.pdtp-40 {
  padding-top: 40px;
}
@media only screen and (min-width:481px) and (max-width: 768px) {
  #contentWrapper .product-content .main-body div .min-height235 {
    min-height: 235px;
  }
}
#contentWrapper .product-content .main-body h2 {
  font-family: SourceSansProSemibold, sans-serif;
  line-height: 1em;
}
#contentWrapper .product-content .main-body h2.flower-bullet-text {
  line-height: 1em;
}
@media only screen and (min-width:0) and (max-width: 768px) {
  #contentWrapper .product-content .main-body h2.compatible-text {
    font-size: 24px !important;
  }
}
#contentWrapper .product-content .main-body h3 {
  font-size: 24px;
  text-align: center;
}
#contentWrapper .product-content .main-body h4 {
  text-align: center;
  color: #6e3d97;
}
#contentWrapper .product-content .main-body p {
  color: #333333;
}
#contentWrapper .product-content .main-body p.small {
  font-size: 9.6px;
}
#contentWrapper .product-content .main-body p span.primary-colour, #contentWrapper .product-content .main-body p a.primary-color {
  color: #6e3d97;
}
#contentWrapper .product-content .main-body p a.primary-color:hover {
  color: #39204e;
}
@media only screen and (min-width:0) and (max-width: 480px), only screen and (min-width:481px) and (max-width: 768px) {
  #contentWrapper .product-content .main-body p {
    font-size: 16px;
    line-height: 16px;
  }
}
@media only screen and (min-width:0) and (max-width: 480px) {
  #contentWrapper .product-content .main-body img {
    width: 100%;
  }
}
#contentWrapper .product-content .main-body .step-header, #contentWrapper .product-content .main-body .box-1, #contentWrapper .product-content .main-body .box-2, #contentWrapper .product-content .main-body .box-3 {
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#contentWrapper .product-content .main-body .box-1, #contentWrapper .product-content .main-body .box-2, #contentWrapper .product-content .main-body .box-3 {
  padding-bottom: 0px;
}
@media only screen and (min-width:0) and (max-width: 480px), only screen and (min-width:481px) and (max-width: 768px) {
  #contentWrapper .product-content .main-body .box-1, #contentWrapper .product-content .main-body .box-2 {
    padding-bottom: 20px;
  }
}
#contentWrapper .product-content .main-body .step-header {
  background: -o-linear-gradient(270deg, #a173c7, #FFFFFF);
  background: -webkit-gradient(linear, right top, left top, from(#a173c7), to(#FFFFFF));
  background: -o-linear-gradient(right, #a173c7, #FFFFFF);
  background: linear-gradient(270deg, #a173c7, #FFFFFF);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#000000FF, endColorstr=$opacBlack1);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#000000FF, endColorstr=$opacBlack1)";
}
#contentWrapper .product-content .main-body .step-header h2 {
  color: #1b017b;
}
#contentWrapper .product-content .main-body .box-1 {
  background: -o-linear-gradient(300deg, white, white);
  background: -o-linear-gradient(150deg, white, white);
  background: linear-gradient(300deg, white, white);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#000000FF, endColorstr=$opacBlack1);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#000000FF, endColorstr=$opacBlack1)";
}
#contentWrapper .product-content .main-body .box-2 {
  background: -o-linear-gradient(300deg, #d2bce4, white);
  background: -o-linear-gradient(150deg, #d2bce4, white);
  background: linear-gradient(300deg, #d2bce4, white);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#000000FF, endColorstr=$opacBlack1);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#000000FF, endColorstr=$opacBlack1)";
}
#contentWrapper .product-content .main-body .box-3 {
  background: -o-linear-gradient(300deg, #a173c7, #d2bce4);
  background: -o-linear-gradient(150deg, #a173c7, #d2bce4);
  background: linear-gradient(300deg, #a173c7, #d2bce4);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#000000FF, endColorstr=$opacBlack1);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#000000FF, endColorstr=$opacBlack1)";
}
#contentWrapper .product-content .main-body .box-3 .how-work-graphic {
  -webkit-transform: translate(-68%, 5%) scale(1);
      -ms-transform: translate(-68%, 5%) scale(1);
          transform: translate(-68%, 5%) scale(1);
  width: auto;
}
@media only screen and (min-width:481px) and (max-width: 768px) {
  #contentWrapper .product-content .main-body .box-3 .how-work-graphic {
    width: 110%;
    -webkit-transform: translate(-4%, 5%);
        -ms-transform: translate(-4%, 5%);
            transform: translate(-4%, 5%);
  }
}
@media only screen and (min-width:0) and (max-width: 480px) {
  #contentWrapper .product-content .main-body .box-3 .how-work-graphic {
    width: 114%;
    -webkit-transform: translate(-5%, 5%);
        -ms-transform: translate(-5%, 5%);
            transform: translate(-5%, 5%);
  }
}
#contentWrapper .product-content .main-body .replens-md {
  background-color: white;
  padding-top: 40px;
  padding-bottom: 100px;
}
#contentWrapper .product-content .main-body .replens-md .full-width {
  width: 100%;
}
#contentWrapper .product-content .main-body .replens-md .full-width-80 {
  width: 80%;
  padding-top: 10%;
}
#contentWrapper .product-content .main-body .replens-md .align-center {
  text-align: center;
}
#contentWrapper .product-content .main-body .replens-md .border-1 {
  border: 1px solid #6e3d97;
}
#contentWrapper .product-content .main-body .replens-md .no-margin-top {
  margin-top: 0;
}
#contentWrapper .product-content .main-body .replens-md .pad20 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
}
#contentWrapper .product-content .main-body .replens-md .replens-md-btn {
  margin-top: 0.5em;
  position: static;
  right: 0;
  display: inline-block;
  border: 1px solid #6e3d97;
  outline-width: 0;
  background-color: #6e3d97;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: SourceSansProBoldIt, sans-serif;
  font-size: 2rem;
  padding: 10px 20px;
  will-change: all;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate(0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#contentWrapper .product-content .main-body .replens-md .replens-md-btn:hover {
  background-color: #FFFFFF;
  color: #6e3d97;
}
@media only screen and (min-width:769px) {
  #contentWrapper .product-content .main-body .replens-md .replens-md-btn {
    bottom: -8px;
  }
}
@media only screen and (min-width:0) and (max-width: 480px), only screen and (min-width:481px) and (max-width: 768px) {
  #contentWrapper .product-content .main-body .replens-md .replens-md-btn {
    position: relative;
  }
}
#contentWrapper .product-content .main-body .replens-md a.image-link {
  display: inline-block;
  text-decoration: none;
}
#contentWrapper .product-content .main-body .replens-md .flex {
  display: block;
  text-align: center;
}
#contentWrapper .product-content .main-body .replens-md .flex .fifty {
  width: 100%;
}
#contentWrapper .product-content .main-body .replens-md .flex .fifty img {
  width: 100%;
  height: auto;
}
#contentWrapper .product-content .main-body .replens-md .flex .fifty img.xboots-logo {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
@media screen and (min-width: 768px) {
  #contentWrapper .product-content .main-body .replens-md .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #contentWrapper .product-content .main-body .replens-md .flex .fifty {
    width: 45%;
  }
  #contentWrapper .product-content .main-body .replens-md .flex .fifty img.xboots-logo {
    margin-bottom: 3em;
    width: 50%;
  }
}