@charset "UTF-8";
#menuWrapper {
    height: 542px;
}
#menuWrapper .header-banner {
    position: absolute;
    overflow: hidden;
    width: 100%;
    margin-top: 4%;
}
@media only screen and (min-width: 1440px) {
    #menuWrapper .header-banner {
        width: 100%;
        height: auto;
        margin-top: 2%;
    }
}
#menuWrapper .header-banner img {
    height: 492px;
}
@media only screen and (min-width: 0) and (max-width: 480px) {
    #menuWrapper .header-banner img {
        transform: translateX(-40%);
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #menuWrapper .header-banner img {
        transform: translateX(-30%);
    }
}
@media only screen and (min-width: 769px) and (max-width: 960px) {
    #menuWrapper .header-banner img {
        transform: translateX(-10%);
    }
}
@media only screen and (min-width: 1440px) {
    #menuWrapper .header-banner img {
        width: 100%;
        height: auto;
    }
}
#menuWrapper .header-banner h1 {
    bottom: 0;
    left: 110px;
    font-family: SourceSansProBoldIt, sans-serif;
    font-size: 64px;
    line-height: 1em;
    color: white;
    text-transform: uppercase;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #menuWrapper .header-banner h1 {
        font-size: 48px;
    }
}
@media only screen and (min-width: 0) and (max-width: 480px) {
    #menuWrapper .header-banner h1 {
        font-size: 32px;
        left: 20px;
    }
}
#menuWrapper .header-banner .absPos {
    position: absolute;
}
#contentWrapper {
    margin-bottom: 0px;
}
#contentWrapper .symptom-checker-content {
    padding-bottom: 10rem;
}
#contentWrapper .symptom-checker-content .primary-color-header {
    background-color: #6e3d97;
    text-align: center;
    padding: 20px 0px;
}
#contentWrapper .symptom-checker-content .primary-color-header h1 {
    text-align: left !important;
    color: white;
}
#contentWrapper .symptom-checker-content .primary-color-header h1.symptom-checker,
#contentWrapper .symptom-checker-content .primary-color-header p {
    font-family: SourceSansProLight;
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center !important;
    line-height: 1.7rem;
    color: white;
}
#contentWrapper .symptom-checker-content .primary-color-header h1.symptom-checker.header-question:before,
#contentWrapper .symptom-checker-content .primary-color-header p.header-question:before {
    content: "•";
    padding-right: 5px;
}
#contentWrapper .symptom-checker-content h1 {
    margin-bottom: inherit;
    margin: 1rem 0;
}
#contentWrapper .symptom-checker-content .main-body div.align-center {
    text-align: center;
}
#contentWrapper .symptom-checker-content .main-body div.border-top {
    background: url(/images/shared/fade-line.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#contentWrapper .symptom-checker-content .main-body div.border-left {
    background: url(/images/shared/fade-vert-line.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 5px 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
@media only screen and (min-width: 0) and (max-width: 480px), only screen and (min-width: 481px) and (max-width: 768px) {
    #contentWrapper .symptom-checker-content .main-body div.border-left {
        background-size: 0px 100%;
    }
}
#contentWrapper .symptom-checker-content .main-body div.inner {
    padding: 0 16.33333%;
}
@media only screen and (min-width: 0) and (max-width: 480px), only screen and (min-width: 481px) and (max-width: 768px) {
    #contentWrapper .symptom-checker-content .main-body div.inner {
        padding: 0 8.33333%;
    }
}
#contentWrapper .symptom-checker-content .main-body div.gradientBackground {
    background: -webkit-linear-gradient(270deg, #eae0f3, #f7f3fa);
    background: -o-linear-gradient(270deg, #eae0f3, #f7f3fa);
    background: -moz-linear-gradient(270deg, #eae0f3, #f7f3fa);
    background: linear-gradient(270deg, #eae0f3, #f7f3fa);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#000000FF, endColorstr=$opacBlack1);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#000000FF, endColorstr=$opacBlack1)";
}
@media only screen and (min-width: 0) and (max-width: 480px), only screen and (min-width: 481px) and (max-width: 768px), only screen and (min-width: 769px) and (max-width: 960px) {
    #contentWrapper .symptom-checker-content .main-body div.margin-bottom20 {
        margin-bottom: 20px;
    }
}
#contentWrapper .symptom-checker-content .main-body div.white-background {
    background-color: white;
}
#contentWrapper .symptom-checker-content .main-body div.pdbtm-120 {
    padding-bottom: 120px;
}
#contentWrapper .symptom-checker-content .main-body div.pdbtm-20 {
    padding-bottom: 20px;
}
#contentWrapper .symptom-checker-content .main-body div.pdtp-20 {
    padding-top: 20px;
}
#contentWrapper .symptom-checker-content .main-body div.pdtp-40 {
    padding-top: 40px;
}
#contentWrapper .symptom-checker-content .main-body h2 {
    font-family: SourceSansProSemibold, sans-serif;
}
#contentWrapper .symptom-checker-content .main-body h3 {
    font-family: SourceSansProBlack, sans-serif;
    font-size: 1.75rem;
    line-height: 1.75rem;
}
#contentWrapper .symptom-checker-content .main-body h3.side-padding {
    padding: 0 1.75rem;
}
#contentWrapper .symptom-checker-content .main-body p,
#contentWrapper .symptom-checker-content .main-body ul {
    color: #333333;
}
#contentWrapper .symptom-checker-content .main-body p.small,
#contentWrapper .symptom-checker-content .main-body ul.small {
    font-size: 9.6px;
}
#contentWrapper .symptom-checker-content .main-body p.no-margin-top,
#contentWrapper .symptom-checker-content .main-body ul.no-margin-top {
    margin-top: 0;
}
#contentWrapper .symptom-checker-content .main-body p span.primary-colour,
#contentWrapper .symptom-checker-content .main-body ul span.primary-colour {
    color: #6e3d97;
}
#contentWrapper .symptom-checker-content .main-body p span.bold,
#contentWrapper .symptom-checker-content .main-body ul span.bold {
    font-family: SourceSansProSemibold, sans-serif;
}
#contentWrapper .symptom-checker-content .main-body p a.primary-color,
#contentWrapper .symptom-checker-content .main-body ul a.primary-color {
    color: #6e3d97;
}
#contentWrapper .symptom-checker-content .main-body p a.primary-color:hover,
#contentWrapper .symptom-checker-content .main-body ul a.primary-color:hover {
    color: #39204e;
}
#contentWrapper .symptom-checker-content .main-body p small,
#contentWrapper .symptom-checker-content .main-body ul small {
    font-size: 0.7875rem;
    line-height: 0.7875rem;
}
#contentWrapper .symptom-checker-content .main-body ul {
    list-style-position: inside;
}
@media only screen and (min-width: 0) and (max-width: 480px), only screen and (min-width: 481px) and (max-width: 768px), only screen and (min-width: 769px) and (max-width: 960px) {
    #contentWrapper .symptom-checker-content .main-body img {
        width: 100%;
    }
}
#contentWrapper .symptom-checker-content .main-body .find-out-more {
    display: inline-block;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #6e3d97;
    margin-top: 20px;
    padding: 10px;
    font-family: SourceSansProBlack, sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: white;
    width: 100%;
    line-height: 1.5em;
    font-size: 20.8px;
    border: 1px solid #6e3d97;
    will-change: all;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
#contentWrapper .symptom-checker-content .main-body .find-out-more.symptom-checker-more {
    width: 200px;
}
#contentWrapper .symptom-checker-content .main-body .find-out-more span {
    font-family: SourceSansProSemibold, sans-serif;
    color: white;
    will-change: all;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
#contentWrapper .symptom-checker-content .main-body .find-out-more:hover {
    color: #6e3d97;
    background-color: white;
}
#contentWrapper .symptom-checker-content .main-body .find-out-more:hover span {
    font-family: SourceSansProSemibold, sans-serif;
    color: #6e3d97;
}
@media only screen and (min-width: 0) and (max-width: 480px) {
    #contentWrapper .symptom-checker-content .main-body .find-out-more {
        font-size: 16px;
    }
}
#contentWrapper .symptom-checker-content .main-body .fade-enter-active,
#contentWrapper .symptom-checker-content .main-body .fade-leave-active {
    will-change: all;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#contentWrapper .symptom-checker-content .main-body .fade-enter,
#contentWrapper .symptom-checker-content .main-body .fade-leave-active {
    opacity: 0;
    transform: translateY(150px);
}
#contentWrapper .symptom-checker-content .main-body #symptomApp {
    padding: 0 5%;
}
#contentWrapper .symptom-checker-content .main-body #symptomApp div .padding-left-zero {
    padding-left: 0;
}
#contentWrapper .symptom-checker-content .main-body #symptomApp div .padding-right-zero {
    padding-right: 0;
}
#contentWrapper .symptom-checker-content .main-body #symptomApp div .padding-left-normal {
    padding-left: 1.25%;
}
#contentWrapper .symptom-checker-content .main-body #symptomApp div .padding-right-normal {
    padding-right: 1.25%;
}
@media only screen and (min-width: 0) and (max-width: 480px) {
    #contentWrapper .symptom-checker-content .main-body #symptomApp div .padding-right-normal {
        padding-right: 0;
    }
}
#contentWrapper .symptom-checker-content .main-body #symptomApp .answer-wrap {
    display: inline-block;
    text-align: center;
    background-color: #c6aadd;
    width: 100%;
    margin-bottom: 2rem;
    -webkit-border-radius: 18px;
    border-radius: 18px;
}
#contentWrapper .symptom-checker-content .main-body #symptomApp .answer-wrap .answer-list {
    list-style: none;
}
#contentWrapper .symptom-checker-content .main-body #symptomApp .answer-wrap .answer-list div a {
    display: inline-block;
    width: 100%;
    padding: 2rem 3rem;
    font-family: SourceSansProSemibold, sans-serif;
    font-size: 1.75rem;
    line-height: 1.75rem;
    color: #000000;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    will-change: all;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#contentWrapper .symptom-checker-content .main-body #symptomApp .answer-wrap .answer-list div a.selected {
    color: #6e3d97;
    text-decoration: underline;
}
#contentWrapper .symptom-checker-content .main-body #symptomApp .answer-wrap .answer-list div a:hover {
    background-color: #eae0f3;
    color: #000000;
}
#contentWrapper .symptom-checker-content .main-body #symptomApp .result-wrap .tab-secion-wrap .tab-menu {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#contentWrapper .symptom-checker-content .main-body #symptomApp .result-wrap .tab-secion-wrap .tab-menu .tab-inner {
    color: #6e3d97;
    background-color: #b998d5;
    font-family: SourceSansProBlack, sans-serif;
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 1rem 1rem;
    cursor: pointer;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 0 !important;
    width: 100%;
}
#contentWrapper .symptom-checker-content .main-body #symptomApp .result-wrap .tab-secion-wrap .tab-menu .tab-inner.highlight {
    background-color: #c6aadd;
}
#contentWrapper .symptom-checker-content .main-body #symptomApp .result-wrap .tab-secion-wrap .tab-section {
    background-color: #c6aadd;
    padding: 1rem;
}
#contentWrapper .symptom-checker-content .main-body #symptomApp .result-wrap .tab-secion-wrap .tab-section .inner {
    padding: 1rem;
    background: #ffffff;
}
#contentWrapper .symptom-checker-content .main-body #symptomApp .result-wrap .image-wrap {
    text-align: center;
    padding-top: 7rem;
}
@media only screen and (min-width: 0) and (max-width: 480px), only screen and (min-width: 481px) and (max-width: 768px) {
    #contentWrapper .symptom-checker-content .main-body #symptomApp .result-wrap .image-wrap {
        padding-top: 1rem;
    }
}
#contentWrapper .symptom-checker-content .main-body #symptomApp .result-wrap .image-wrap img {
    width: 100%;
    max-width: 255px;
}
@media only screen and (min-width: 0) and (max-width: 480px), only screen and (min-width: 481px) and (max-width: 768px) {
    #contentWrapper .symptom-checker-content .main-body #symptomApp .result-wrap .image-wrap img {
        width: 130px;
    }
}
#contentWrapper .symptom-checker-content .main-body #symptomApp .result-wrap .find-out-more {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
