﻿#menuWrapper {
    height: 542px;
}
#menuWrapper .header-banner {
    position: absolute;
    overflow: hidden;
    width: 100%;
    margin-top: 4%;
}
@media only screen and (min-width: 1440px) {
    #menuWrapper .header-banner {
        width: 100%;
        height: auto;
        margin-top: 2%;
    }
}
#menuWrapper .header-banner img {
    height: 492px;
}
@media only screen and (min-width: 0) and (max-width: 480px) {
    #menuWrapper .header-banner img {
        transform: translateX(-40%);
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #menuWrapper .header-banner img {
        transform: translateX(-30%);
    }
}
@media only screen and (min-width: 769px) and (max-width: 960px) {
    #menuWrapper .header-banner img {
        transform: translateX(-10%);
    }
}
@media only screen and (min-width: 1440px) {
    #menuWrapper .header-banner img {
        width: 100%;
        height: auto;
    }
}
#menuWrapper .header-banner h1 {
    bottom: 0;
    left: 110px;
    font-family: SourceSansProBoldIt, sans-serif;
    font-size: 64px;
    line-height: 1em;
    color: white;
    text-transform: uppercase;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #menuWrapper .header-banner h1 {
        font-size: 48px;
    }
}
@media only screen and (min-width: 0) and (max-width: 480px) {
    #menuWrapper .header-banner h1 {
        font-size: 32px;
        left: 20px;
    }
}
#menuWrapper .header-banner .absPos {
    position: absolute;
}
#contentWrapper {
    margin-bottom: 0px;
}
#contentWrapper .vaginal-content .primary-color-header {
    background-color: #6e3d97;
    text-align: center;
    padding: 20px 0px;
}
#contentWrapper .vaginal-content .primary-color-header h1 {
    text-align: left !important;
    color: white;
}
#contentWrapper .vaginal-content .primary-color-header p,
#contentWrapper .vaginal-content .primary-color-header h1.symptom-checker {
    font-family: SourceSansProLight;
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center !important;
    line-height: 1.7rem;
    color: white;
}
#contentWrapper .vaginal-content .primary-color-header p.header-question:before,
#contentWrapper .vaginal-content .primary-color-header h1.symptom-checker.header-question:before {
    content: "•";
    padding-right: 5px;
}
#contentWrapper .vaginal-content .main-body div.align-center {
    text-align: center;
}
#contentWrapper .vaginal-content .main-body div.border-top {
    background: url(/images/shared/fade-line.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#contentWrapper .vaginal-content .main-body div.border-left {
    background: url(/images/shared/fade-vert-line.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 5px 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
@media only screen and (min-width: 0) and (max-width: 480px), only screen and (min-width: 481px) and (max-width: 768px) {
    #contentWrapper .vaginal-content .main-body div.border-left {
        background-size: 0px 100%;
    }
}
#contentWrapper .vaginal-content .main-body div.inner {
    padding: 0 16.33333%;
}
@media only screen and (min-width: 0) and (max-width: 480px), only screen and (min-width: 481px) and (max-width: 768px) {
    #contentWrapper .vaginal-content .main-body div.inner {
        padding: 0 8.33333%;
    }
}
#contentWrapper .vaginal-content .main-body div.gradientBackground {
    background: -webkit-linear-gradient(270deg, #eae0f3, #f7f3fa);
    background: -o-linear-gradient(270deg, #eae0f3, #f7f3fa);
    background: -moz-linear-gradient(270deg, #eae0f3, #f7f3fa);
    background: linear-gradient(270deg, #eae0f3, #f7f3fa);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#000000FF, endColorstr=$opacBlack1);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#000000FF, endColorstr=$opacBlack1)";
}
@media only screen and (min-width: 0) and (max-width: 480px), only screen and (min-width: 481px) and (max-width: 768px), only screen and (min-width: 769px) and (max-width: 960px) {
    #contentWrapper .vaginal-content .main-body div.margin-bottom20 {
        margin-bottom: 20px;
    }
}
#contentWrapper .vaginal-content .main-body div.white-background {
    background-color: white;
}
#contentWrapper .vaginal-content .main-body div.pdbtm-120 {
    padding-bottom: 120px;
}
#contentWrapper .vaginal-content .main-body div.pdbtm-20 {
    padding-bottom: 20px;
}
#contentWrapper .vaginal-content .main-body div.pdtp-20 {
    padding-top: 20px;
}
#contentWrapper .vaginal-content .main-body div.pdtp-40 {
    padding-top: 40px;
}
#contentWrapper .vaginal-content .main-body h2 {
    font-family: SourceSansProSemibold, sans-serif;
}
#contentWrapper .vaginal-content .main-body p,
#contentWrapper .vaginal-content .main-body ul {
    color: #333;
}
#contentWrapper .vaginal-content .main-body p.small,
#contentWrapper .vaginal-content .main-body ul.small {
    font-size: 9.6px;
}
#contentWrapper .vaginal-content .main-body p.no-margin-top,
#contentWrapper .vaginal-content .main-body ul.no-margin-top {
    margin-top: 0;
}
#contentWrapper .vaginal-content .main-body p span.primary-colour,
#contentWrapper .vaginal-content .main-body p a.primary-color,
#contentWrapper .vaginal-content .main-body ul span.primary-colour,
#contentWrapper .vaginal-content .main-body ul a.primary-color {
    color: #6e3d97;
}
#contentWrapper .vaginal-content .main-body p a.primary-color:hover,
#contentWrapper .vaginal-content .main-body ul a.primary-color:hover {
    color: #39204e;
}
#contentWrapper .vaginal-content .main-body ul {
    list-style-position: inside;
}
@media only screen and (min-width: 0) and (max-width: 480px), only screen and (min-width: 481px) and (max-width: 768px), only screen and (min-width: 769px) and (max-width: 960px) {
    #contentWrapper .vaginal-content .main-body img {
        width: 100%;
    }
}
#contentWrapper .vaginal-content .main-body .find-out-more {
    display: inline-block;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #6e3d97;
    margin-top: 20px;
    padding: 10px;
    font-family: SourceSansProBlack, sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: white;
    width: 100%;
    line-height: 1.5em;
    font-size: 20.8px;
    border: 1px solid #6e3d97;
    will-change: all;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
#contentWrapper .vaginal-content .main-body .find-out-more.symptom-checker-more {
    width: 200px;
}
#contentWrapper .vaginal-content .main-body .find-out-more span {
    font-family: SourceSansProSemibold, sans-serif;
    color: white;
    will-change: all;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
#contentWrapper .vaginal-content .main-body .find-out-more:hover {
    color: #6e3d97;
    background-color: white;
}
#contentWrapper .vaginal-content .main-body .find-out-more:hover span {
    font-family: SourceSansProSemibold, sans-serif;
    color: #6e3d97;
}
@media only screen and (min-width: 0) and (max-width: 480px) {
    #contentWrapper .vaginal-content .main-body .find-out-more {
        font-size: 16px;
    }
}
